---
import { getEntryBySlug } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
const { slug } = Astro.params;
const post = await getEntryBySlug('abenteuer', slug);
if (!post) {
  throw new Error('Abenteuer-Post nicht gefunden');
}
---

<Layout title={`${post.data.title} | Abenteuer`}>
  <article>
    <h1>{post.data.title}</h1>
    <p><em>{post.data.pubDate.toLocaleDateString()} – {post.data.author}</em></p>
    <p>{post.data.description}</p>
    <div>
      {post.body}
    </div>
  </article>
  <a href="/abenteuer">Zurück zu den Abenteuern</a>
</Layout>
